/*************** Card ***************/
.card {
  border: 1px solid #e4e7f2;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  border-radius: 0.15rem;
  margin-bottom: 1rem;
  box-shadow: none;
}
.card.top-blue-bdr {
  border-top: 2px solid #007ae1;
}
.card.top-grey-bdr {
  border-top: 2px solid #333333;
}
.card.top-red-bdr {
  border-top: 2px solid #ff4c4c;
}
.card .card-body {
  padding: 1rem;
  position: relative;
}
.card .card-header {
  background: #ffffff;
  border-bottom: 1px solid #ebedf5;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  position: relative;
}
.card .card-header h5 {
  font-size: 1rem;
}
.card .card-header h5 a {
  color: #007ae1;
}
.card .card-header a.link {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 0.75rem;
  color: #007ae1;
}
.card .card-footer {
  background: #ffffff;
  border-top: 1px solid #e1e5f1;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  position: relative;
}
.card .card-footer h5 {
  font-size: 1rem;
}
.card .card-footer h5 a {
  color: #007ae1;
}
.card h6.card-title {
  text-align: center;
  margin: 1rem;
}
.card.bg-primary {
  border: 1px solid #007ae1;
}
.card.bg-primary .card-header {
  background: #007ae1;
  border-bottom: 1px solid #006cc8;
}
.card.bg-secondary {
  border: 1px solid #ff3e61;
}
.card.bg-secondary .card-header {
  background: #ff3e61;
  border-bottom: 1px solid #ff1540;
}
.card.bg-dark {
  border: 1px solid #3c3c3c;
}
.card.bg-dark .card-header {
  background: #3c3c3c;
  border-bottom: 1px solid #282828;
}
.card.bg-light {
  border: 1px solid #f0f8ff;
}
.card.bg-light .card-header {
  background: #f0f8ff;
  border-bottom: 1px solid #d7ecff;
}
.card.bg-success {
  border: 1px solid #32ba7c;
}
.card.bg-success .card-header {
  background: #32ba7c;
  border-bottom: 1px solid #2da66f;
}
.card.bg-info {
  border: 1px solid #007ae1;
}
.card.bg-info .card-header {
  background: #007ae1;
  border-bottom: 1px solid #006cc8;
}
.card.bg-warning {
  border: 1px solid #ffc012;
}
.card.bg-warning .card-header {
  background: #ffc012;
  border-bottom: 1px solid #e8aa00;
}
.card.bg-danger {
  border: 1px solid #ff4c4c;
}
.card.bg-danger .card-header {
  background: #ff4c4c;
  border-bottom: 1px solid #ff3333;
}
.card.bg-grey {
  background: #333333;
  border: 1px solid #333333;
}
.card.bg-grey .card-header {
  background: #333333;
  border-bottom: 1px solid #1f1f1f;
}
.card.bg-brown {
  background: #ab7967;
  border: 1px solid #ab7967;
}
.card.bg-brown .card-header {
  background: #ab7967;
  border-bottom: 1px solid #966553;
}
.card.bg-facebook {
  background: #3b5998;
  border: 1px solid #3b5998;
}
.card.bg-facebook .card-header {
  background: #3b5998;
  border-bottom: 1px solid #30487b;
}

.card-message {
  background-color: #ffffff;
  padding: 12px 20px;
  border-bottom: 1px solid #e1e5f1;
}
.card-message i {
  font-size: 2rem;
  margin-right: 10px;
  float: left;
}

/*************** Card Header Tabs ***************/
.card-header-tabs {
  margin-right: 0;
  margin-left: 0;
}

/************************************************
	************************************************
											Widgets
	************************************************
************************************************/
/*************** Stats Widget ***************/
.stats-widget a.stats-label {
  position: absolute;
  right: 0;
  top: 15px;
  background: #007ae1;
  text-align: center;
  font-size: 0.65rem;
  color: #ffffff;
  padding: 2px 6px;
  line-height: 100%;
}
.stats-widget a.stats-label:before {
  position: absolute;
  left: -20px;
  bottom: 0;
  content: '';
  border-right: 9px solid #007ae1;
  border-left: 11px solid transparent;
  border-top: 11px solid transparent;
}
.stats-widget a.stats-label:after {
  position: absolute;
  top: 0;
  left: -20px;
  content: '';
  border-right: 9px solid #007ae1;
  border-left: 11px solid transparent;
  border-bottom: 11px solid transparent;
}
.stats-widget .stats-widget-header {
  margin-bottom: 10px;
}
.stats-widget .stats-widget-header i {
  font-size: 36px;
  color: #007ae1;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.stats-widget .stats-widget-body ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.stats-widget .stats-widget-body ul > li {
  border-right: 1px solid #e1e5f1;
}
.stats-widget .stats-widget-body ul > li:last-child {
  border-right: 0;
}
.stats-widget .stats-widget-body h6.title {
  margin: 5px 0 0 0;
  font-size: 95%;
  line-height: 130%;
  color: #aab3c3;
}
.stats-widget .stats-widget-body h4.total {
  margin: 0;
  text-align: right;
  color: #007ae1;
}

@media (max-width: 576px) {
  .stats-widget .stats-widget-body h6.title {
    margin: 5px 0 0 0;
  }
}
