.login-bg {
  background: url('../../assets/images/login-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.login-screen {
  padding-top: 70px;
}
.login-screen .login-logo {
  margin: 20px 0 20px 0;
  text-align: left;
  display: block;
}
.login-screen .login-logo > img {
  margin: 0;
  max-height: 36px;
}

.login-container {
  position: relative;
  box-shadow: 0px 25px 15px -15px #d3d7e9;
  background: #ffffff;
  margin: 0 auto;
}
.login-container .login-box {
  padding: 50px 50px;
}
.login-container .login-box h5 {
  margin: 0 0 20px 0;
  color: #007ae1;
}
.login-container .actions {
  margin-top: 15px;
  display: block;
  margin-bottom: 30px;
}
.login-container .actions a {
  color: #007ae1;
  text-decoration: none;
  margin-top: 12px;
  display: inline-block;
}
.login-container .actions a:hover {
  text-decoration: underline;
}
.login-container .actions .btn {
  float: right;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 8px 25px;
}
.login-container a.additional-link {
  color: #007ae1;
  text-decoration: none;
  margin: 40px auto 0 auto;
  text-align: center;
  display: block;
}
.login-container a.additional-link span {
  text-decoration: underline;
  color: #000000;
}
.login-container p.info {
  padding: 0;
  margin: 0 0 20px 0;
  line-height: 150%;
  color: #aab3c3;
}

.login-slider {
  /*  background: url('../img/login-slider.jpg') center center no-repeat; */
  background-size: cover;
  height: 100%;
  position: relative;
}
.login-slider .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 90px;
  margin-left: -35px;
  margin-top: -35px;
}

.signup-slider {
  /*  background: url('../img/login-slider.jpg') center center no-repeat; */
  background-size: cover;
  height: 100%;
  position: relative;
}

.or {
  margin: 20px auto;
  width: 100%;
  text-align: center;
  position: relative;
  height: 1px;
  background: #e1e5f1;
}
.or:before {
  position: absolute;
  content: 'or';
  background: #ffffff;
  width: 20px;
  height: 20px;
  color: #007ae1;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  line-height: 20px;
}

@media (max-width: 767px) {
  .login-slider {
    display: none;
  }

  .signup-slider {
    display: none;
  }
}
